<div id="borrower">
	<h3>Name: <%= session[:name] %></h3>
	<h3>Amount Needed: <%= @borrower[:amount_needed] %></h3>
	<h3>Amount Raised: $<%= @sum %></h3>
</div>
<a href="/logins/<%= session[:id] %>" data-method="delete">Log Out</a>
<table border="1" class="borrower_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Amount Lent</th>
		</tr>
	</thead>
	<tbody>
		<% @join.each do |lender| %>
		<tr>
			<td><%= lender.first_name %> <%= lender.last_name %></td>
			<td><%= lender.email %></td>
			<td><%= lender.amount %></td>
		</tr>
		<% end %>
	</tbody>
</table>