<div id="lender">
	<h3>Name: <%= session[:name] %></h3>
	<h3>Balance: <%= @lender[:money] %></h3>
</div>
<% if flash[:errors] %>
		<p><%= flash[:errors] %></p>
	<% end %>
<a href="/logins/<%= session[:id] %>" data-method="delete">Log Out</a>
<h2>List of People in need of help: </h2>
<table border="1" class="lender_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @all.each do |lent| %>
			
				<tr><% sum = 0 %>
					<td><%= lent.first_name %> <%= lent.last_name %></td>
					<td><%= lent.need %></td>
					<td><%= lent.description %></td>
					<td><%= lent.amount_needed %></td>
					<td><% @borrower.each do |borrow| %>
							<% if borrow.borrower_id == lent.id %>
								<% sum += borrow.amount %>
							<% end %>
						<%end%>
						<%= sum %>
					</td>
					<td><% if @lender[:money].to_i > 0 %>
					<form action="/lenders/<%= lent.id %>/edit" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="patch">
						<input type="number" name="amount" value="25">
						<input type="submit" value="Lend">
					</form><% end %></td>
				</tr>
			
		<% end %>
	</tbody>
</table>
<h2>List of People you lend money to: </h2>
<table border="1" class="lent_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Amount Lent</th>
		</tr>
	</thead>
	<tbody>
		<% @join.each do |lent| %>
			<% if lent.lender_id == session[:id] %>
				<tr><% sum = 0 %>
					<td><%= lent.first_name %> <%= lent.last_name %></td>
					<td><%= lent.need %></td>
					<td><%= lent.description %></td>
					<td><%= lent.amount_needed %></td>
					<td><% @borrower.each do |borrow| %>
							<% if borrow.borrower_id == lent.borrower_id %>
								<% sum += borrow.amount %>
							<% end %>
						<%end%>
						<%= sum %>
					</td>
					<td><%= lent.amount %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>